body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    font-size: 16px;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding-bottom: 50px; /* space for the footer */
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.carousel div {
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2c3e50;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
 

img.profile-pic {
    border-radius: 50%;
}